body{
    font-size: 13px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.div_search{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 30px;
    height:30px;
    background-color: #E8F2FC;
    border: solid #1c94c4 1px;
    overflow: hidden
}
.div_search_multi_lines{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 30px;
    height:200px;
    background-color: #E8F2FC;
    border: solid #1c94c4 1px;
    overflow: hidden
}
.table_a{
    border-collapse:collapse;
    border: 1px solid #E3E6EB;
    width:1300px;
    height:500px;
    overflow:scroll;
}
.table_a td{
    line-height: 25px;
    padding-left: 8px;
    text-align: left;
}
.table_show_color{
    font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
    border: #ffffff;
    font-size: small;
}
.table_show_color td,th{
    border:1px solid #87ceeb;
    padding:3px 7px 2px 7px;
}
.table_show_color th
{
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#4169e1;
    color:#ffffff;
    font-weight: bold;
    font-size: small;
}
.table_show_color th.alt{
    color:#4169e1;
    font-style: inherit;
    font-size: large;
    background-color: #ffffff;
    border: #ffffff;
}
.table_show_color tr.alt td{
    color:#000000;
    background-color:#add8e6;
}
.div_head{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 25px;
    height:25px;
    background-color: #E8F2FC;
    border-bottom: solid #1c94c4 1px
}